<!-- login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage</title>
        <meta name="description" contents="">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <h3 style="text-align: center; color: #000000; font-size: 28px; font-weight: normal; line-height: 32px; margin-top: 0; margin-bottom: 12px;">
            Welcome to My Clothes Catalogue
        </h3>
        <div class="button-container">
            <a href="/login">
                <button type="submit">Login</button>
            </a>
        </div>
    </body>
</html>
